main {
    min-height: 85vh;
}


h1 {
    font-size: 1.8rem;
    padding: 1rem 0;

}

h2 {
    font-size: 1.5rem;
    padding: 1.5rem 0;

}

h4{
    padding: 1rem 0;
 }
.rating span{
    margin: 0.1rem;
}

.navbar { padding-top: 0.25rem; padding-bottom: 0.25rem; }